* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  

  
  .form-container {
    display: flex;
    justify-content: center;
    background: url("https://parrot-tutorial.com/images/mask-smog.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    min-height: 400px;
    padding: 24px;
  }  
  .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #f1f1f1;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }
  
  .btn {
    display: block;
    width: 100%;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background-color: #007bff;
  }